<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
<h3>Student Detailes</h3>
<label>Enter The Name</label>
<input type="text" name="name1">
<label>Enter The Address</label>
<input type="text" name="name2">
    <input type="submit" value="Add"/>
</form>
<table border="1">
<tr>
    <th>Name</th>
    <th>Address</th>
</tr>
    {% for x in KEY %}
    <tr>
        <td>{{x.name}}</td>
        <td>{{x.address}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>